<style>
    .account-setting-container{
        width: 50%;
        margin: auto;
    }
    .title-alignment{
        text-align: center;
    }
    .display-line{
        display: inline-block;
    }
    .input-form{
        float:right;
        width: 200px;
        border: 1px solid #b2b2b2;
    }
    .form-display{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .input-box{
    height: 30px;
    width: 70%;
    border: 1px solid black;
    }
    .button-position{
       text-align:center;
    }
</style>
<section class="account-setting-container">
    <br>
    <div>
        <h1 class="title-alignment">Cập nhật thông tin cá nhân tài khoản</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                Họ tên:
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                Email:
            </div>
            <div class="col-sm">
                 <input type="email" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                Số điện thoại:
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                Địa chỉ:
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class=" button-position">
            <a href="account"><button type="button" class="btn btn-outline-secondary">Lưu thay đổi</button></a>
        </div>
        <br><br>
    </div>
</section>