<section class="account-setting-container">
    <br>
    <div>
        <h1 class="title-alignment">Thông tin giao hàng</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                Họ tên:
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                Email:
            </div>
            <div class="col-sm">
                 <input type="email" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                Số điện thoại:
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                Địa chỉ:
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                Phương thức thanh toán
            </div>
            <div class="col-sm">
                <div>
                    <input type="radio" name="buy-method" class="buy-methods-display"> Thanh toán khi nhận hàng
                </div> 
                <br>
                <div>              
                 <input type="radio" name="buy-method" class="buy-methods-display"> Chuyển khoản ngân hàng 
                 <p>Ngân hàng: XXX, chi nhánh YYY, tài khoản 123456789, chủ tài khoản: Âu Dương Gia Tuấn)</p>
                </div>
                <br>
                <div>
                    <input type="radio" name="buy-method" class="buy-methods-display"> Thẻ visa<br>
                    <input type="text" placeholder="Nhập mã thẻ" class="input-box">

                </div> 
            </div>
        </div>
        <br>
        <div class=" button-position">
            <a href="account"><button type="button" class="btn btn-outline-secondary">Thanh toán</button></a>
        </div>
        <br><br>
    </div>

</section>