<section class="purchase-history-container">
    <br>
    <div>
        <h3>Đơn hàng của tôi</h3>
    </div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Mã đơn hàng</th>
      <th scope="col">Ngày mua</th>
      <th scope="col">Sản phẩm</th>
      <th scope="col">Tổng tiền </th>
      <th scope="col">Trạng thái đơn hàng</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">123456</th>
      <td>11/04/2019</td>
      <td>Only Check Trouser - Herschel supply</td>
      <td>1.000.000 VNĐ</td>
      <td>Giao hàng thành công</td>
    </tr>
    <tr>
      <th scope="row">987654</th>
      <td>01/11/2019</td>
      <td>Vintage Inspired Classic
</td>
      <td>2.000.000 VNĐ</td>
      <td>Giao hàng thành công</td>
    </tr>
    <tr>
      <th scope="row">456789</th>
      <td>10/06/1999</td>
      <td>Herschel supply T-Shirt with Sleeve</td>
      <td>1.700.000 VNĐ</td>
      <td>Giao hàng thành công</td>
    </tr>
  </tbody>
</table>
</section>