<header>
    <h1 class="intro">Giới thiệu thành viên nhóm</h1>
</header>
<div>
    <h2 class="members-inf">Thông tin chi tiết nhóm: </h2>
    <ul>   
        <li>Phạm Hoàng Vũ - 1712922</li>        
        <li>Nguyễn Ngọc Trung - 1712845</li>
        <li>Âu Dương Gia Tuấn - 1712867</li>
    </ul>
</div>
<figure class="members-imgdiv">
    <img src="./images/group.jpg" alt="" class="members-img" usemap="#membersmap">
    <figcaption class="members-imgcap">Ảnh nhóm</figcaption>
</figure>
<map name="membersmap">
    <area shape="rect" coords="305,108,351,160" href="./members/1712867/1712867.html" alt="" title="Âu Dương Gia Tuấn">
    <area shape="rect" coords="122,85,166,150" href="#" alt="" title="Phạm Hoàng Vũ">
    <area shape="rect" coords="220,117,267,180" href="#" alt="" title="Nguyễn Ngọc Trung">
</map>