
<section>
    <br>
    <div>
        <h1 class="title-alignment">Thêm sản phẩm vào gian hàng</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" >
                <p class="change-position-info">Chọn hình ảnh:</p>
            </div>
            <div class="col-sm">
                 <input type="file"  accept="image/png, image/jpeg" multiple>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="change-position-info">Nhập tên sản phẩm:
            </div>
            <div class="col-sm">
                <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="change-position-info">Nhập giá giá sản phẩm:</p>
            </div>
            <div class="col-sm">
                <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Nhập loại sản phẩm:</p>
            </div>
            <div class="col-sm">
                <div><input type="radio" class="display-line">Áo</div>
                <div><input type="radio"class="display-line">Quần</div>
                <div><input type="radio"class="display-line">Túi xách</div>
                <div><input type="radio"class="display-line">Đồng hồ</div>
                <div><input type="radio"class="display-line">Giày</div>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Nhập thông tin sản phẩm:</p>
            </div>
            <div class="col-sm">
                <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Chọn các kích cở cho sản phẩm: </p>
            </div>
            <div class="col-sm">
                <div><input type="checkbox" class="display-line">XS</div>
                <div><input type="checkbox"class="display-line">S</div>
                <div><input type="checkbox"class="display-line">M</div>
                <div><input type="checkbox"class="display-line">L</div>
                <div><input type="checkbox"class="display-line">XL</div>
                <div><input type="checkbox"class="display-line">XXL</div>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Chọn các màu sắc cho sản phẩm: </p>
            </div>
            <div class="col-sm">
                <div><input type="checkbox" class="display-line">Đỏ</div>
                <div><input type="checkbox"class="display-line">Xanh</div>
                <div><input type="checkbox"class="display-line">Đen</div>
                <div><input type="checkbox"class="display-line">Trắng</div>
                <div><input type="checkbox"class="display-line">Vàng</div>
                <div><input type="checkbox"class="display-line">Hồng</div>
                <div><input type="text"class="display-line" placeholder="Nhập thêm"></div>
										
            </div>
        </div>
        <br>
        <br>

          <div class=" button-position">
            <a href="#"><button type="button" class="btn btn-outline-secondary set-button"><strong>Thêm sản phẩm</strong></button></a>
        </div>
        <br><br>
    </div>
</section>



		