
<section>
    <br>
    <div>
        <h1 class="title-alignment">Thêm sản tài khoản vào hệ thống</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" >
                <p class="change-position-info">Nhập tài khoản:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="change-position-info">Nhập mập khẩu:
            </div>
            <div class="col-sm">
                <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="change-position-info">Nhập họ tên:</p>
            </div>
            <div class="col-sm">
                <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Nhập số điện thoại:</p>
            </div>
            <div class="col-sm">
                <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Nhập email:</p>
            </div>
            <div class="col-sm">
                <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Nhập địa chỉ: </p>
            </div>
            <div class="col-sm">
                <input type="text" class="input-box">
            </div>
        </div>
        <br><br>


          <div class=" button-position">
            <a href="customers-manage"><button type="button" class="btn btn-outline-secondary set-button"><strong>Thêm tài khoản</strong></button></a>
        </div>
        <br><br>
    </div>
</section>



		