
<section>
    <br>
    <div>
        <h1 class="title-alignment">Thay đổi thông tin đơn đặt hàng</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p class="change-position-info">Họ tên:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Số điện thoại:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Địa chỉ:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Sản phẩm:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Tình trạng đơn hàng:</p>
            </div>
            <div class="col-sm">
                <div >
   
                    <input type="radio" class="display-line" name="order" id="chuagiao">
                    <label for="chuagiao">Chưa giao</label>
                 </div>
                 <div>
                    <input type="radio" class="display-line" name="order" id="danggiao">
                    <label for="danggiao">Đang giao</label>
                 </div>
                 <div>
                    <input type="radio" class="display-line" name="order" id="dagiao">
                    <label for="dagiao">Đã giao</label>
                 </div>
                 <div>
                    <input type="radio" class="display-line" name="order" id="huy">
                    <label for="huy">Hủy đơn</label>
                 </div>       
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Số lượng:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <br>

          <div class=" button-position">
            <a href="order-manage"><button type="button" class="btn btn-outline-secondary set-button"><strong>Lưu thay đổi</strong></button></a>
        </div>
        <br><br>
    </div>
</section>