<section class="purchase-history-container">
    <br>
    <h2>Danh sách các tài khoản người dùng</h2>
    <br>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên tài khoản</th>
      <th scope="col">Mật khẩu</th>
      <th scope="col">Tên khách hàng</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Số điện thoại</th>
      <th scope="col">Email</th>
      <th scope="col">Thay đổi</th>
      <th scope="col">Xóa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>adgtuan</td>
      <td>123456789</td>
      <td>Tuấn</td>
      <td>Tp HCM</td>
      <td>0919435212</td>
      <td>adgtuan@gmail.com</td>
      <td><a href="change-info-customer">Thay đổi</a></td>
      <td><input type="image" src="./img/delete.png" height="20px"></td>
    </tr>
    <tr>
     <th scope="row">2</th>
      <td>nhthai</td>
      <td>131443789</td>
      <td>Thái</td>
      <td>Bình Dương</td>
      <td>0933294392</td>
      <td>nhthai@gmail.com</td>
      <td><a href="change-info-customer">Thay đổi</a></td>
      <td><input type="image" src="./img/delete.png" height="20px"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>ntcan</td>
      <td>3920302930</td>
      <td>An</td>
      <td>Mỹ Tho</td>
      <td>09323823232</td>
      <td>ntcan@gmail.com</td>
      <td><a href="change-info-customer">Thay đổi</a></td>
      <td><input type="image" src="./img/delete.png" height="20px"></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>dkphuong</td>
      <td>0000029192</td>
      <td>Phượng</td>
      <td>Tp HCM</td>
      <td>0921838238</td>
      <td>dkphuong@gmail.com</td>
      <td><a href="change-info-customer">Thay đổi</a></td>
      <td><input type="image" src="./img/delete.png" height="20px"></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>vmphuong</td>
      <td>123456789</td>
      <td>Phương</td>
      <td>Hà Nội</td>
      <td>0919443212</td>
      <td>vmphuong@gmail.com</td>
      <td><a href="change-info-customer">Thay đổi</a></td>
      <td><input type="image" src="./img/delete.png" height="20px"></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>ntkanh</td>
      <td>038273272</td>
      <td>Anh</td>
      <td>Tp HCM</td>
      <td>012943948</td>
      <td>ntkanh@gmail.com</td>
      <td><a href="change-info-customer">Thay đổi</a></td>
      <td><input type="image" src="./img/delete.png" height="20px"></td>
    </tr>
    
  </tbody>
</table>
 <div class=" button-position">
            <a href="add-account"><button type="button" class="btn btn-outline-secondary set-button"><strong>Thêm tài khoản</strong></button></a>
  </div>
  <br>
  <br>
</section>