<section class="login-container">    
    <br>
    <br>
    <h2 class="button-position">Đăng nhập vào hệ thống quản lý</h2><br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                Tên tài khoản:
            </div>
            <div class="col">
                <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                Mật khẩu:
            </div>
            <div class="col">
                <input type="text" class="input-box">
            </div>
        </div>
    </div>
    <br>
    <div class="button-position">
        <a href="top-ten"><button type="button" class="btn btn-outline-secondary set-button"><strong>Đăng nhập</strong></button></a>
    </div>
    
</section>