<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .white-popup-block{
            width: 50%;
            margin: auto;
            background: white;
        }
        .form-container{
            width: 90%;
            margin: auto;
        }
        .input-container{
            width: 70%;
            margin: auto;
        }
        .text-align{
            align-content: center;
        }
        .account-dropdown{
            background-color: transparent;
            color: #b2b2b2;
            border: none;
        }
        .account-dropdown-box{
            z-index: 1101;
        }
        .account-dropdown-elements{
            color: black;
        }
        .account-setting-container{
            width: 50%;
            margin: auto;
        }
        .title-alignment{
            text-align: center;
        }
        .display-line{
            display: inline-block;
        }
        .input-box{
        height: 30px;
        width: 100%;
        border: 1px solid black;
        }
        .button-position{
        text-align:center;
        }
        .set-button{
            background: black;
            color: white;
            width: 150px;
            height:40px;
            border-radius: 25px;
        }
        .title{
            color:white;
        }
        .login-container{
            max-width;: 1000px;
            width: 30%;
            margin: auto;
        }
    </style>
</head>
<body>
  {{{body}}}
</body>
</html>