
<section>
    <br>
    <div>
        <h1 class="title-alignment">Thay đổi thông tin khách hàng</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" >
                <p class="change-position-info">Tài khoản:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="change-position-info">Mật khẩu:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="change-position-info">Họ tên:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Email:</p>
            </div>
            <div class="col-sm">
                 <input type="email" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Số điện thoại:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                 <p class="change-position-info">Địa chỉ:</p>
            </div>
            <div class="col-sm">
                 <input type="text" class="input-box">
            </div>
        </div>
        <br>
        <br>

          <div class=" button-position">
            <a href="customers-manage"><button type="button" class="btn btn-outline-secondary set-button"><strong>Lưu thay đổi</strong></button></a>
        </div>
        <br><br>
    </div>
</section>