<section class="purchase-history-container">
    <br>
    <h2>Danh sách các đơn hàng</h2>
    <br>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên tài khoản</th>
      <th scope="col">Tên khách hàng</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Số điện thoại</th>
      <th scope="col">Sản phẩm</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Tình trạng</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>adgtuan</td>
      <td>Tuấn</td>
      <td>Tp HCM</td>
      <td>0919435212</td>
      <td>Giày converse allstars</td>
      <td>1</td>
      <td>Đã giao</td>
      <td><a href="change-info-order">Thay đổi</a></td>
    </tr>
    <tr>
     <th scope="row">2</th>
      <td>nhthai</td>
      <td>Thái</td>
      <td>Bình Dương</td>
      <td>0933294392</td>
      <td>Giày converse allstars</td>
      <td>1</td>
      <td>Đang giao</td>
      <td><a href="change-info-order">Thay đổi</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>ntcan</td>
      <td>An</td>
      <td>Mỹ Tho</td>
      <td>09323823232</td>
      <td>Giày converse allstars</td>
      <td>1</td>
      <td>Đã giao</td>
      <td><a href="change-info-order">Thay đổi</a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>dkphuong</td>
      <td>Phượng</td>
      <td>Tp HCM</td>
      <td>0921838238</td>
      <td>Giày converse allstars</td>
      <td>1</td>
      <td>Đang giao</td>
      <td><a href="change-info-order">Thay đổi</a></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>vmphuong</td>
      <td>Phương</td>
      <td>Hà Nội</td>
      <td>0919443212</td>
      <td>Giày converse allstars</td>
      <td>1</td>
      <td>Chưa giao</td>
      <td><a href="change-info-order">Thay đổi</a></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>ntkanh</td>
      <td>Anh</td>
      <td>Tp HCM</td>
      <td>012943948</td>
      <td>Giày converse allstars</td>
      <td>1</td>
      <td>Đã giao</td>
      <td><a href="change-info-order">Thay đổi</a></td>
    </tr>
    
  </tbody>
</table>
</section>